/* MENU */
#bookings-menu {
  margin-top: 3.5rem;
}

/* LIST */
div#booking-template a {
  margin-top: 1rem;
  display: grid;
  width: 100%;
  grid-template-areas: "img center1 right1" "img center2 right2" "img center3 right3";
  grid-template-columns: 80px 1fr 5rem;
  border-bottom: 1px solid gray;
  margin-top: 1rem;
  justify-items: start;
  text-align: left;
  text-decoration: none;
  color: gray;
}

ul.bookings-list {
  margin-bottom: 5rem;
}

.booking-list .bk-img {
  grid-area: img;
  padding: 1rem;
}

.booking-list h2 {
  grid-area: center1;
  align-self: center;
  font-size: 0.8rem;
}
.booking-list h3 {
  grid-area: center2;
  color: #d07017;
  font-size: 1rem;
}

.booking-list .bk-time-ago {
  grid-area: right1;
  color: gray;
  font-size: 0.7rem;
}

.booking-list .bk-users {
  grid-area: center3;
  display: flex;
  align-items: center;
  text-align: left;
  color: black;
  font-size: 0.8rem;
}

.booking-list #bk-status {
  grid-area: right2 / right2 / span 2 / span 1;
  color: gray;
  font-size: 0.7rem;
  align-self: flex-end;
}

.bk-img img {
  max-width: 100%;
}

#booking-lists {
  margin-bottom: 5rem;
}

@media (min-width: 700px), (max-width: 1200) {
  div#booking-template a {
    grid-template-columns: 160px 1fr 10rem;
  }

  .booking-list h2 {
    font-size: 1.4rem;
  }

  .booking-list h3 {
    font-size: 1.2rem;
    align-self: center;
  }

  .booking-list .bk-users {
    font-size: 1rem;
  }

  .booking-list .bk-time-ago {
    font-size: 1rem;
    align-self: center;
  }

  .booking-list #bk-status {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 1200px) {
  div#booking-template a {
    grid-template-columns: 200px 1fr 15rem;
  }
}
