/* HEADER */
div#chatroom-header {
  position: fixed;
  min-width: 100%;
  top: 3.5rem;
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  padding: 0.5rem;
  align-items: center;
  border-bottom: 1px solid gray;
  z-index: 99;
  background-color: white;
}

#chatroom-header div#user-avatar {
  padding: 0.2rem;
  width: fit-content;
  display: flex;
  font-size: 1rem;
}

#chatroom-header div.MuiAvatar-root {
  width: 2.5rem;
  height: 2.5rem;
}

#chatroom-header h3 {
  display: flex;
  margin-left: 1rem;
  box-sizing: content-box;
}

/* INPUT TEXT */
.chatroom-input {
  position: fixed;
  min-width: 100%;
  height: 2rem;
  bottom: 4rem;
  display: grid;
  grid-template-columns: 9fr 1fr;
}
.chatroom-input input {
  height: 2rem;
  padding: 0.2rem;
}

.chatroom-input #msginput {
  min-width: 100%;
}

/* MESSAGE LIST */
ul#messages-list {
  position: absolute;
  top: 8rem;
  bottom: 1.2rem;
  overflow-y: scroll;
  margin: 0.1rem 0.5rem 5rem 0.5rem;
}

li.message {
  display: grid;
  grid-template-areas: "user time" "text text";
  grid-template-columns: 1fr 3rem;
}

.chatroom-time-ago {
  color: gray;
  font-size: 0.7rem;
  text-align: right;
  align-self: center;
  margin-right: 0.5rem;
}

p.message-user {
  grid-area: user;
  color: #d07017;
  font-size: 1rem;
  text-align: left;
  margin-left: 1rem;
}

p.message-text {
  font-size: 0.9rem;
  text-align: left;
  margin-left: 1rem;
}

@media (min-width: 700px) {
  div#chatroom-header {
    grid-template-columns: 5rem 1fr;
  }
  #chatroom-header div.MuiAvatar-root {
    width: 4rem;
    height: 4rem;
  }
  #chatroom-header h3 {
    font-size: 1.5rem;
  }
  ul#messages-list {
    position: absolute;
    top: 9.5rem;
    overflow-y: scroll;
    margin: 0.1rem 0.5rem 5rem 0.5rem;
  }
  li.message {
    grid-template-columns: 1fr 6rem;
  }
}
