/* COMMON */
div.form-wrapper {
  margin-top: 5rem;
  overflow-y: scroll;
}

.form-wrapper h2 {
  margin: 1rem;
  font-size: 1.2rem;
  color: #828282;
}
.form-wrapper h3 {
  margin: 1rem;
  font-size: 1rem;
  color: #828282;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}

.form-wrapper p {
  margin: 1rem auto -2px auto;
  text-align: left;
  font-size: 0.8rem;
  color: #828282;
}

.form-wrapper input {
  height: 2rem;
  max-width: 250px;
  border: 0rem;
  border-bottom: 0.15rem solid rgba(200, 200, 200, 1);
  border-radius: 5px;
  padding: 0.2rem 1rem;
}

.form-wrapper input[type="file"] {
  margin-top: 1rem;
}

.form-wrapper input[type="submit"] {
  margin: 3rem auto 5rem auto;
  min-height: 3rem;
  min-width: 10rem;
  border-radius: 0.8rem;
  border: 0rem;
  box-shadow: 0rem 0.2rem 0.5rem rgb(100, 100, 100);
  color: #8b8b8b;
  font-size: 1.2rem;
  font-weight: bold;
}

.form-wrapper input[type="submit"]:hover {
  background-color: rgb(255, 229, 191);
}

/* NEW PRODUCT */

section#category {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#category label#category-header {
  grid-column: span 2;
}

#category label.catRadios {
  margin: 0 auto;
  padding-top: 0.2rem;
  background-color: rgb(245, 245, 245);
  border: 0.2rem solid white;
}

#category input[type="radio"] {
  height: 1rem;
  min-width: 150px;
  max-width: 300px;
}

/* EDIT PRODUCT */
.form-wrapper ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 1rem;
}

.form-wrapper ul li {
  list-style: none;
  margin: 0.2rem 0.2rem;
}

.form-wrapper img {
  display: flex;
  max-width: 100%;
}

p#delete-img {
  margin: 0.5rem 0 0 1rem;
}

input#select-img {
  margin-top: 0;
}

input#upload-img {
  margin: 1rem auto;
  min-height: 2rem;
  min-width: 8rem;
  border-radius: 0.6rem;
  border: 0rem;
  box-shadow: 0rem 0.2rem 0.5rem rgb(100, 100, 100);
  color: #8b8b8b;
  font-size: 1rem;
  font-weight: bold;
}
