ul#favoritos {
  margin-top: 4rem;
}

#favoritos li a {
  display: grid;
  width: 100%;
  grid-template-areas: "img center1 right" "img center2 right" "img center3 right";
  grid-template-columns: 100px 1fr 3rem;
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;
  justify-items: start;
  text-decoration: none;
  color: gray;
}

.fav .div-img {
  grid-area: img;
  padding: 0.7rem;
}

.fav h2 {
  grid-area: center2;
  color: #d07017;
  font-size: 1rem;
}

.fav h2:after {
  content: "€";
}

.fav .time-ago {
  grid-area: right;
  color: gray;
  font-size: 0.5rem;
}

.fav .fav-title {
  grid-area: center1;
  align-self: center;
  text-align: left;
  color: black;
  font-size: 0.8rem;
}

.fav .fav-ubication {
  grid-area: center3;
  color: gray;
  font-size: 0.8rem;
}

.div-img img {
  max-width: 100%;
}

#favs {
  margin-bottom: 5rem;
}
.fav-ubication svg {
  max-height: 0.8rem;
  margin: 0;
}

@media (min-width: 700px), (max-width: 1200) {
  #favoritos li a {
    grid-template-columns: 160px 1fr 8rem;
  }

  .fav h2 {
    font-size: 1.4rem;
    align-self: center;
  }

  .fav .fav-title {
    font-size: 1.2rem;
  }

  .fav .time-ago {
    font-size: 1rem;
    margin-top: 0.6rem;
  }

  .fav .fav-ubication {
    font-size: 1rem;
  }
}
