header#header-title {
  border-bottom: 0.2rem solid rgb(229, 229, 229);
}

#header-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#header-title button {
  position: absolute;
  left: 10%;
}

#header-title h2 {
  position: absolute;
  margin: 0 auto;
  color: rgb(80, 80, 80);
}
