@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

div#login {
  background-color: rgba(255, 229, 191, 1);
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login a {
  text-decoration: none;
  color: blue;
}

#login svg {
  position: absolute;
  top: 15vh;
  right: 20vw;
}

#login h2 {
  position: absolute;
  top: 20vh;
  margin-bottom: 1rem;
}

#login form {
  position: absolute;
  top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login input {
  margin-top: 3rem;
  height: 2rem;
  min-width: 300px;
  max-width: 500px;
  background-color: rgba(255, 229, 191, 1);
  border: 0rem;
  border-bottom: 0.15rem solid rgba(189, 189, 189, 1);
}

#login p {
  margin-top: 3rem;
}

#login input[type="submit"] {
  position: absolute;
  bottom: -20vh;
  min-height: 3rem;
  min-width: 10rem;
  border-radius: 0.8rem;
  border: 0rem;
  box-shadow: 0rem 0.2rem 0.5rem rgb(100, 100, 100);
  background-color: #ffffff;
  color: #8b8b8b;
  font-size: 1.2rem;
  font-weight: bold;
}
