#products {
  margin-top: 1rem;
}
#products li a {
  display: grid;
  width: 100%;
  grid-template-areas: "img center1 right" "img center2 right" "img center3 right3";
  grid-template-columns: 100px 1fr 4rem;
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;
  justify-items: start;
  text-decoration: none;
  color: gray;
}

.product .div-img {
  grid-area: img;
  padding: 0.5rem;
}

.product h2 {
  grid-area: center1;
  color: #d07017;
  font-size: 1rem;
  align-self: flex-end;
}

.product h2:after {
  content: "€";
}

.product .time-ago {
  grid-area: right3;
  margin-right: 0.5rem;
  margin-bottom: 0.1rem;
  overflow-x: visible;
  color: gray;
  font-size: 0.6rem;
  justify-self: flex-end;
  align-self: center;
}

.product .product-title {
  grid-area: center2;
  text-align: left;
  color: black;
  font-size: 0.8rem;
}

.product .product-ubication {
  grid-area: center3;
  color: gray;
  font-size: 0.8rem;
}

.div-img img {
  max-width: 100%;
}
div.div-img {
  justify-self: center;
}

#products {
  margin-bottom: 5rem;
}
.product-ubication svg {
  max-height: 0.8rem;
  margin: 0;
}

#filters form {
  display: flex;
  flex-direction: row;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}

#filters form label {
  padding: 0 1rem;
}

#filters form label input {
  max-width: 3rem;
  padding: 0 0.5rem;
  background-color: rgba(255, 229, 191, 1);
  border: 0;
  border-bottom: 0.15rem solid rgba(189, 189, 189, 1);
  border-radius: 5px;
}

#filters form input[type="submit"] {
  border-radius: 0.8rem;
  padding: 0 0.5rem;

  border: 0rem;
  box-shadow: 0rem 0.2rem 0.5rem rgb(100, 100, 100);
  background-color: rgba(255, 229, 191, 1);
  color: #8b8b8b;
  font-weight: bold;
}
