@font-face {
  font-family: Roboto;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

.product-sheet {
  text-align: left;
  padding: 1rem;
  font-family: "Roboto";
}

.product-sheet #price {
  color: #d07017;
  font-size: 1.5rem;
}
.product-sheet #price::after {
  content: "€";
}
