div#rating-template {
  min-width: 100vw;
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr);
  grid-template-rows: 30px 40px 40px;
  border-bottom: 0.1rem solid grey;
  margin-bottom: 1rem;
  padding: 0 1rem 0 1rem;
}

#rating-template p {
  display: flex;
}

div.MuiAvatar-root {
  grid-column: 1;
  grid-row: 1 / 2;
  width: 80px;
  height: 80px;
}

#rating-template p#date {
  grid-column: 1;
  grid-row: 3;
  justify-self: center;
  align-self: flex-end;
}

#rating-template p#username {
  grid-column: 2/4;
  grid-row: 1;
  margin-left: 1rem;
}

#rating-template p#points {
  grid-column: 4;
  grid-row: 1;
  justify-self: right;
}

#rating-template p#coment {
  grid-column: 2 / 5;
  grid-row: 2 / 4;
  text-align: left;
  margin-left: 1rem;
}
