/* COMMON */
div.r-l-forms {
  background-color: rgba(255, 229, 191, 1);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.r-l-forms a {
  text-decoration: none;
  color: blue;
}

.r-l-forms svg {
  position: absolute;
  width: 1rem;
  top: 15vh;
  right: 20vw;
}

.r-l-forms h2 {
  position: absolute;
  top: 20vh;
  margin-bottom: 1rem;
}

.r-l-forms form {
  position: absolute;
  top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.r-l-forms input {
  margin-top: 1.5rem;
  height: 1.5rem;
  max-width: 250px;
  padding: 0 0.5rem;
  background-color: rgba(255, 229, 191, 1);
  border: 0;
  border-bottom: 0.15rem solid rgba(189, 189, 189, 1);
  border-radius: 5px;
}

.r-l-forms p {
  margin-top: 2rem;
  font-size: 0.8rem;
}

.r-l-forms input[type="submit"] {
  position: absolute;
  top: 45vh;
  min-height: 3rem;
  min-width: 10rem;
  border-radius: 0.8rem;
  border: 0rem;
  box-shadow: 0rem 0.2rem 0.5rem rgb(100, 100, 100);
  background-color: #ffffff;
  color: #8b8b8b;
  font-size: 1.2rem;
  font-weight: bold;
}

.r-l-forms input[type="submit"]:hover {
  background-color: rgb(240, 240, 240);
}

/* REGISTER */
.r-l-forms input[type="checkbox"] {
  min-width: 15px;
}

.r-l-forms p#checkTxt {
  max-width: 200px;
  text-align: left;
  font-size: 0.6rem;
  margin-left: 1rem;
  display: inline-block;
}
