@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

html {
  background-color: rgba(255, 229, 191, 1);
}

div#register {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#register svg {
  position: absolute;
  top: 15vh;
  right: 20vw;
}

#register h2 {
  position: absolute;
  top: 20vh;
  margin-bottom: 1rem;
}

#register form {
  position: absolute;
  top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#register input {
  margin-top: 3rem;
  height: 2rem;
  min-width: 300px;
  max-width: 500px;
  background-color: rgba(255, 229, 191, 1);
  border: 0rem;
  border-bottom: 0.15rem solid rgba(189, 189, 189, 1);
}

#register p {
  margin-top: 3rem;
}

#register label {
  align-content: center;
  align-items: center;
}
#register input[type="checkbox"] {
  height: 2rem;
  min-width: 20px;
  max-width: 20px;
}

#register p#checkTxt {
  margin-left: 1rem;
  font-size: 0.8rem;
  display: inline-block;
}

#register input[type="submit"] {
  position: absolute;
  bottom: -20vh;
  min-height: 3rem;
  min-width: 10rem;
  border-radius: 0.8rem;
  border: 0rem;
  box-shadow: 0rem 0.2rem 0.5rem rgb(100, 100, 100);
  background-color: #ffffff;
  color: #8b8b8b;
  font-size: 1.2rem;
  font-weight: bold;
}

#register input:last-of-type:hover {
  border: 1rem border;
}
