#menu-profile h3 {
  margin-top: 1.5rem;
  font-size: 1rem;
}

#menu-profile ul {
  padding: 0 1.5rem 2rem 1.5rem;
}

#menu-profile a {
  text-decoration: none;
  color: #828282;
  display: flex;
  align-items: center;
  max-width: fit-content;
}

#menu-profile li {
  list-style: none;
}

/* MY USER */
#menu-profile ul#my-user-menu {
  max-height: 15rem;
  overflow-y: scroll;
}
/* USER CONFIG MENU */
ul#user-config-menu {
  margin: 3.5rem 0 4rem 0.5rem;
}

/* OTHER USERS */
#menu-profile ul#user-profile-menu {
  margin: 0.5rem 0 4rem 0.5rem;
}

@media (min-width: 700px) {
  #menu-profile li {
    margin: 0 auto;
    margin-top: 1rem;
    max-width: 15rem;
    border-bottom: 0.15rem solid rgba(200, 200, 200, 1);
    border-radius: 5px;
  }
  #menu-profile ul#my-user-menu {
    max-height: none;
    overflow-y: scroll;
  }

  ul#user-config-menu {
    margin: 3.5rem auto 0 auto;
  }

  #menu-profile a {
    margin: 0 auto;
  }
}
